@import '../../../scss/resource/resource';
.wrapper {
  position: relative;
}
.img{
  display: block;
  margin: 0 auto;
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
}
.text {
  font-family: $font-face;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  padding: 5px 0;
}