@import '../../scss/resource/resource';

.title {
  font-family: $font-face;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #494949;
  margin: 20px 0;
}

.wrapper {
  padding: 30px 0;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 4px 21px 6px rgba(250, 156, 34, 0.55);
  border-radius: 10px;

}

.container {
  margin-bottom: 30px;
}