@import '../../../../scss/resource/resource';

.link-button:hover {
  text-underline: none;
}
a:hover{
  text-underline: none;
}


.link-button {
  display: block;
  position: relative;
  overflow: hidden;
  font-family: $font-face;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border-radius: 35px;
  background-color: #fa9c22;
  transition: 0.5s;
  border: none;
}

.link-button:focus{
  outline: none;
}


.link-button-small {
  padding: 10px 13px;
}

.link-button-big {

  padding: 12px 10px;

}

.link-button-middle {
  background-color: white;
  color: white;
  font-size: 20px;
  border-radius: 35px;
}


.link-button:hover {
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  color: white;
}

.link-button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -110px;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  transform: (skewX(35deg));
  transition: 0.3s;
}

.link-button:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}