@import '../../../scss/resource/resource';

.wrapper {
  padding: 30px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 4px 21px 6px rgba(250, 156, 34, 0.55);
  border-radius: 10px;
  overflow: hidden;
}

.img {
  display: block;
  margin: auto;
}

.text {
  font-family: $font-face;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.link {
  font-family: $font-face;
  font-size: 14px;
  font-weight: bold;
  color: #FA9C23;
  padding-top: 50px;
  text-align: center;
}
a:hover{
  text-decoration: none;
}