@import '../../scss/resource/resource';

.card {
  position: relative;
  width: 260px;
  padding: 0;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -14px 49px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card:hover {
  transform: rotateY(180deg);
}

.img {
  width: 50%;
  height: 230px;

}

.imgAfter {
  border-top-right-radius: 50px;
}

.imgBefore {
  border-bottom-left-radius: 50px;
}

.title {
  font-family: $font-face;
  font-size: 17px;
  font-weight: bold;
  text-align: right;
  padding: 15px 5px 100px 0;
}

.infoWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 30px;
  box-shadow: 0 4px 21px 0 rgba(250, 156, 34, 0.55);
}

.icon {
  font-size: 20px;
  color: #fa9c22;
  margin-right: 10px;
}

.text {
  font-family: $font-face;
  font-size: 14px;
  color: #494949;
  font-weight: bolder;
  padding-top: 10px;
  text-align: center;
}

.front {
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  background-image: url("/img/details/resultsCardBack.jpg");
  border-radius: 50px;
}

.backImg {
  display: block;
  border-radius: 10px;
  padding: 30px 0;
  margin: auto;
}