@import '../../../../scss/resource/resource';

.wrapper{
 background-image: url("/img/diet/back1.png");
  background-size: cover;

}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.name{
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: $font-face;
  margin-bottom: 0;
}
.conclusionWrapper{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: rgba(252, 221, 175, 0.8);
}
.textNumber{
  font-family: $font-face;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  margin: 0 auto;
}
.text{
  font-family: $font-face;
  font-weight: bold;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
.conclusionImg{
  display: block;
  margin: 0 auto;
}
.conclusionTitle{
  font-family: $font-face;
  font-weight: bold;
  color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 0;
}
.conclusionText{
  font-family: $font-face;
  font-weight: bold;
  color: white;
  font-size: 18px;
  text-align: center;
}
.button{
  background-color: transparent;
  border: 3px solid white;
  font-size: 16px;
  font-weight: bold;
  font-family: $font-face;
  margin-left: 50px;
  border-radius: 35px;
  color: white;
  padding: 10px;
}
button:focus {
  outline: none;
}

