@import '../../../scss/resource/resource';

.container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.container:hover{
  text-decoration: none;
}


.counter {
  position: relative;
  font-family: $font-face;
  padding: 3px 7px;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  margin-left: -5px;
  margin-bottom: 12px;
  border:1px solid #FA9C23;

}

.img{
  width: 28px;
  height: 28px;
}
.active{

}