@import '../../scss/resource/resource';

.container {
  text-align: center;
  padding: 80px 10px;
  background-color: white;
}
.linkWrapper{
  width: 150px;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
}