@import '../../scss/resource/resource';
.container {
  padding: 50px 0;
}

.cart-card-text {
  font-family: $font-face;
  font-size: 20px;
  font-weight: bold;
}

.priceImg{
  width: 29px;
  height: 25px;

}

.text{
  text-align: center;
  font-family: $font-face;
  font-size: 18px;
  font-weight: bolder;
  color: #494949;
  line-height: 1.2em;

}

.total {
  color: black;
  font-family: $font-face;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
