@import '../../../scss/resource/resource';

.text{
  font-family: $font-face;
  font-weight: bold;
  border: transparent;
  background-color: transparent;
}
.active{
  color: #fa9c22;
}
.wrapper{
  display: flex;
  justify-content: flex-end;
}