@import '../../../../scss/resource/resource';
.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
}
.buttonWrapper{
  margin: 20px 0;
}
.text{
  color: black;
  font-family: $font-face;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.tinyText{
  font-family: $font-face;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 0;
  text-align: center;
}
.input{
  padding: 3px 10px;
  border: 1px solid black;

}
.input:focus{
  outline: 1px solid #fa9c22;
  border: 1px solid transparent;
}