@import 'variables';

.text-title{
  font-family: $font-face;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1em;
}
.default-padding{
  padding: 0;
}
.default-button{
  outline: none;
  border: transparent;
  background-color: transparent;
}
.default-button:focus{
  outline: none;
}
.flex-between-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-around{
  display: flex;
  justify-content: space-around;
}
.flex-around-align{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-end{
  display: flex;
  justify-content: end;
}
.clear-default-li:hover{
  text-decoration: none;
}
.input-mistake {
  border: 1px solid red !important;
}

.questions-input {
  width: 100%;
  border: 1px solid #494949;
  outline: none;

  margin: 6px 0;
  border-radius: 35px;
}

.questions-input-normal {
  padding: 0 15px;
}

.questions-input-special {
  padding: 5px 15px;
  height: 100px;
}
.link-button:hover{
  text-decoration: none;
}
.carousel-item{
  padding: 80px 0;
}
.carousel-indicators {
  margin-top: 20px;
  bottom: -10%;
}
.carousel-indicators li{
  background-color: #fe9e0c  !important ;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  margin-left: 10px !important;
}
.carousel-control-prev, .carousel-control-next {
  background-color: #fe9e0c;
  width: 50px  !important ;
  height: 50px;
  border-radius: 50%;
  top: 50% !important ;
}
.carousel-control-prev{
  left: 20% !important ;
}
.carousel-control-next{
  right: 20% !important ;
}
@media(min-width:375px) and(max-width:647px){
  .text-title{
    font-size: 30px;
  }

}