$font-face: 'Champagne & Limousines', sans-serif;
$light-blue: #2980b9;
$dark-blue: #2c3e50;
$green: #27ae60;


$landscape-mobile-normal: 400px;
$landscape-mobile-big: 480px;
$landscape-tablet: 992px;
$landscape-desktop: 1200px;
