@import '../../../scss/resource/resource';

.educationWrapper {
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 4px 21px 6px rgba(250, 156, 34, 0.55);
  padding: 0;
  margin-bottom: 30px;
  margin-top: 30px;

}


.title {
  font-family: $font-face;
  font-size: 25px;
  //margin-top: 10px;
  font-weight: bold;
  //margin-bottom: 5px;
  text-transform: capitalize;
  padding: 15px 0;

}

.consultationInfoWrapper {
  border: 1px solid #fa9c22;
  padding: 10px 0;
  margin-bottom: 10px;
}

.img {
  //padding: 0;
  height: 100%;
  border-radius: 10px;

}

.textAdditional {
  font-family: $font-face;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  margin: 10px 0;
}
.consultationText{
  font-family: $font-face;
  font-size: 16px;
  font-weight: bolder;
  text-align: left;
  margin: 10px 0;
}
.textMain {
  font-family: $font-face;
  font-size: 14px;
  color: #FA9C23;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;

}

.header {
  padding: 0px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  margin-top: 50px;
  display: flex;
  box-shadow: 0px 4px 21px 6px rgba(250, 156, 34, 0.55);

  @media(max-width:991px){
    display: block;
  }

}

.educationWrapper::before {
  content: " ";
  display: block;
  position: absolute;
  height: 5px;
  background: #fa9c22;
  width: 100%;
  border-radius: 10px;
}

.title {
  font-family: $font-face;
  font-size: 18px;
  font-weight: bolder;
  color: #494949;
  margin-bottom: 10px;
  text-align: center;
}

.name {
  font-family: $font-face;
  font-size: 22px;
  font-weight: bold;
  color: #494949;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.educationItem{
  padding: 10px 20px;
}
//.program-button-buy:focus {
//  outline: none;
//}