@import '../../../../scss/resource/resource';
.wrapper {
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  background-image: url("/img/details/receiptsBack.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 21px 6px rgba(250, 156, 34, 0.55);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
}

.wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  height: 5px;
  background: #fa9c22;
  width: 100%;
  border-radius: 10px;
}
.text{
  font-family: $font-face;
  font-size: 18px;
  font-weight: bolder;
  color: #494949;
  line-height: 1.2em;
  padding: 30px;
  text-align: center;
}