@import '../../../scss/resource/resource';
.wrapper {
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 1px solid #2a5914;
  margin: 0 auto;
  margin-top: 20px;
  //margin-left: 20px;
  //box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -12px 30px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white;
}
.wrapper:hover{
  text-decoration: none;

}
.text{
  width: 180px;
  margin: 0 auto;
  color: black;
  font-family: $font-face;
  font-size: 20px;
  padding: 60px 0;
  font-weight: bolder;
  text-align: center;

}