@import '../../../../scss/resource/resource';

.sort-button {
  display: flex;
  align-items: center;
}

.button-text {
  font-family: $font-face;
  font-size: 18px;
  font-weight: bolder;
  color: #494949;
  line-height: 1.2em;
  margin-right: 10px;
  margin-bottom: 0;
}


.btn-success {
  background-color: white !important;
  color: black !important;
  border-color: transparent !important;
  border-radius: 35px;
  box-shadow: 0px 4px 21px 6px rgba(250, 156, 34, 0.55) !important;
  outline: none !important;
}

.dropdown-menu {
  border-radius: 25px;

}

.drop-test {
  width: 100%;
}
.btn-success-filter{
  padding: 8px;
}
.dropdown-sort.dropdown-menu.show {
  width: auto!important;
}


#dropdown-basic {
  font-family: $font-face;
  font-weight: bold !important;
}

.dropdown-menu {
  margin-top: -5px !important;
  border-color: transparent !important;
  box-shadow: 0px 4px 21px 6px rgba(250, 156, 34, 0.55) !important;
}

.dropdown-item {
  font-family: $font-face;
  text-align: center;
  color: black;
  text-decoration: none;
  border-radius: 35px;
  background-color: white;
  border: transparent;
  font-weight: bolder;
  font-size: 16px;
  padding: 5px;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: #fa9c22;
}

.dropdown-toggle::after {
  margin-left: 15px !important;
  vertical-align: middle !important;
}

.filter-button-icon {
  font-size: 15px;
}

.filter-items-wrapper {
  margin: 30px 100px;
}

.button-delete-filter {
  border: transparent;
  background-color: transparent;
}