@import '../../scss/resource/resource';

.cardsContainer {
  padding: 80px 0;
}
.wrapper {
  text-align: center;
  padding: 20px;
}
@media(min-width:992px){
  .cardsContainer{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media(min-width:375px) and(max-width:647px){
  .cardsContainer {
    padding: 20px 0;
  }

}