@import '../../../scss/resource/resource';

.wrapper {

  background-color: #ffe7c3;
  border-radius: 35px;
  padding: 20px;
  margin: 0 auto;
}


.title {
  font-family: $font-face;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.total {
  padding: 10px 0;
  border-top: 1px solid #FA9C23;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-family: $font-face;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.additionalText {
  font-family: $font-face;
  font-size: 14px;
  font-weight: bold;
  color: #bea688;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.additionalText:hover{
  text-decoration: none;
  color: #fa9c22;
}