@import '../../../scss/resource/resource';

.card {
  position: relative;
  flex-wrap: wrap;
  width: 260px;
  padding: 0;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -14px 49px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
}

.header {
  position: relative;
}

.title {
  font-family: $font-face;
  font-size: 17px;
  font-weight: bold;
  text-align: right;
  padding: 5px 0;
}

.text {
  font-family: $font-face;
  font-size: 12px;
  color: #494949;
  font-weight: bolder;
  font-style: italic;
  text-align: right;
}
.img {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 0;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-clip-path: polygon(893px 245px,359px -8px,-5px -9px,-28px 160px);

}
.contentContainer{
  padding: 25px 8px 75px 0;
}

.ratingImg{
  width: 40px;
  height: 30px;
}


.time{
  position: absolute;
  top:0;
  left:0;
  width: 80px;
  height: 40px;
  border-radius: 0 5px 5px 5px ;
  background-color: rgba(213, 213, 213, 0.6);
  font-family: $font-face;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 10px;

}
.rating{
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
.button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #fa9c22;
  border-top-left-radius: 20px;
}

.icon {
  color: white;
  font-size: 15px;
  margin: 19px;
}
.additionalText{
  color: #fa9c22;
  font-size: 14px;
  position: absolute;
  bottom: 36px;
  left: 7px;
  padding: 5px 10px;
  border-radius: 35px;
  border: 1px solid #fa9c22;

}