@import '../../scss/resource/resource';
.container{
  text-align: center;
  padding: 50px 0;
  background-image: url("/img/details/reviewBack.jpg");

}

.item{
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -14px 49px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}
.text{
  font-style: italic;
}
.img{

}
@media(min-width:375px) and(max-width:647px){
  .container{
    background-image: none;
  }
}
