@import '../../../scss/resource/resource';

.wrapper {
  //border: 1px solid black;
  border-radius: 35px;
  background-color: white;
}
.text:hover{
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
  border-bottom-right-radius: 20px;
  padding-left: 60px;
}


.text {
  font-family: $font-face;
  color: black;
  font-size: 20px;
  padding: 10px 30px;
  //padding: 10px ;
  font-weight: bold;
}
@media(min-width: 992px) {
.text{
  padding: 10px ;
}
  .text:hover{
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
    border-radius: 35px;
    padding: 10px ;
  }
}