@import '../../scss/resource/resource';

.container{
  width: 50%;
  padding: 0 50px ;
  text-align: left;
}
.wrapper{
  display: flex;
  align-items: center;
}

.text{
  padding-right: 70px !important;
 }
.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.iconContainer{
  font-family: $font-face;
  color: #494949;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
}

.iconContainer:hover{
  color: #fa9c22;
  text-decoration: none;
}
.icon{
  font-size: 35px;
  color: #484848;
  margin-right: 5px;
}
.img{
  padding: 0;
}

@media(min-width:375px) and(max-width:1080px){
  .img{
    width: 50%;
    height: 50%;
  }
  .container{
    padding: 0 50px 0 0;
  }

}
@media(min-width:375px) and(max-width:647px){
  .img{
    display: none;
  }
  .container{
    width: 80%;
    margin: 0 auto;
    padding: 0 ;
  }
  .link{
    margin: 0 auto;
  }

}