@import '../../../../scss/resource/resource';
.wrapper{
  background-image: url("/img/details/bodyMass.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0 190px;
  border-radius: 20px;
}
.title{
  font-family: $font-face;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  //background-color: white;
  //color: #494949;

}
.text{
  font-family: $font-face;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
}
.additionalText{
  color: #fa9c22;
}
