@import '../../../../scss/resource/resource';

.wrapper {
  background-image: url("/img/details/water.jpg");
  background-size: cover;
  padding: 0 0 155px;
  border-radius: 20px;
}

.text {
  font-family: $font-face;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
}

.additionalText {
  color: #fa9c22;
  font-size: 20px;
}

.title {
  padding: 70px 10px 0;
  color: black;
  font-family: $font-face;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;

}