@import '../../../scss/resource/resource';

.nav-menu {
  width: 70%;
  //padding: 20px 0;
  list-style-type: none;
  //border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fa9c22;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  animation: flipInX 0.8s ease-in 0s;
  //box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -14px 49px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.3);

}
.close {
  position: absolute;
  right: -20px;
  top: 14px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0
  }
  40% {
    transform: perspective(400px) rotateX(-20deg)
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1
  }
  80% {
    transform: perspective(400px) rotateX(-5deg)
  }
  100% {
    transform: none
  }
}

.nav-item {
  font-family: $font-face;
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin: 0;
  //margin: 0 9px;
  padding: 10px 30px;

}

.nav-item:hover {

  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  color: white;
  padding-left: 60px;

}

.nav-link-wrapper {
  padding: 10px 0px;
}

.active-nav-special {

  background-image: url("/img/details/dotSpecial.png");
  background-repeat: no-repeat;
  background-position: center;

}

.active-nav-normal {
  background-image: url("/img/details/dot.png");
  background-repeat: no-repeat;
  background-position: center;
}

.menu-hamburger {
  width: 35px;
  height: 2px;
  background-color: #fa9c22;
  content: " ";
  margin-bottom: 3px;
  margin-left: 30px;

}

@media(min-width: 992px) {
  .nav-menu {
    //padding: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: inherit;
    z-index: auto;
    box-shadow: 0 0 0 0;
  }
  .nav-item {
    padding: 0 15px;
    margin: 0;
  }
  .nav-item:hover {
    background: transparent;
    color: black;
    padding: 0 15px;

  }
}

@media(min-width: 992px) {

}


