@import '../../../scss/resource/resource';

.hidden {
  display: none;
}

.additionText {
  font-family: $font-face;
  font-size: 14px;
  color: #FA9C23;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding-bottom: 50px;
  margin: 0 auto;
}
.checkBox{

}

.text {
  font-family: $font-face;
  font-size: 16px;
  font-weight: bold;
  color: #494949;
  padding: 9px 0;
  text-align: right;
}

.input {
  width: 90%;
  border: 1px solid #494949;
  outline: none;
  padding: 0 10px;
  margin: 5px 0;
  border-radius: 35px;
}
.checked {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container{
  padding-top: 20px;
  margin: 0 auto;
}
.button{
  margin: 0 auto;
}