@import '../../../scss/resource/resource';

.wrapper {
  position: relative;
  flex-wrap: wrap;
  width: 260px;
  padding: 0;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -14px 49px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
}

.header {
  position: relative;
}

.img {
  position: relative;
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.priceImg {
  width: 25px;
  height: 25px;
}

.text {
  font-family: $font-face;
  font-size: 12px;
  color: #494949;
  font-weight: bolder;
  font-style: italic;
  text-align: right;
  margin-bottom: 0;
  padding: 2px 20px 0 0;
}

.ratingContainer {
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


}

.ratingImg {
  color: #FA9C23;
  width: 35px;
  height: 100%;
}

.ratingText {
  font-family: $font-face;
  font-size: 17px;
  font-weight: bold;
  text-align: right;
  padding-top: 5px;
}

.name {
  font-family: $font-face;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0 10px;
  padding: 0;
}
.margin{
  margin: 0;
}

.additionText {
  font-family: $font-face;
  font-size: 14px;
  color: #FA9C23;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding-bottom: 50px;
}


.button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #fa9c22;
  border-top-left-radius: 20px;
}

.buttonIcon {
  color: white;
  font-size: 15px;
  margin: 19px;
}

.priceWrapper {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 80px;
  height: 38px;
  border-radius: 5px 5px 0 5px;
  background-color: rgba(213, 213, 213, 0.6);
}
