@import '../../../scss/resource/resource';

.wrapper {
  width: 60%;
  padding: 20px;
  margin: 0 auto;

  //background-color: white;
}

.text {
  font-family: $font-face;
  font-size: 20px;
  font-weight: bold;
  color: #494949;
  text-align: center;
  padding-top: 10px;
}
.additionalText{
  font-family: $font-face;
  font-size: 16px;
  font-weight: bold;
  color: #fa9c22;
  text-align: center;
  padding: 10px 0;

}
.img{
  display: block;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
.additionalText:hover{
  text-decoration: none;
}