@import '../../../../scss/resource/resource';
.wrapper{
  background-image: url("/img/details/calculator.jpg");
  padding: 80px 0 190px;
  border-radius: 20px;
}
.text{
  font-family: $font-face;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  //color: #494949;

}
.additionalText{
  color: #fa9c22;
  background-color: white;
  font-size: 20px;
}