@import '../../../../scss/resource/resource';

.title {
  font-family: $font-face;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1em;
 padding: 20px;
}

.wrapper{
 padding: 50px 0;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;

}

.container {
  padding-left: 0px;
  margin: 0 auto;
  border-radius: 10px;
  width: 400px;
  background-color: white;
  text-align: center;
}
.text{
  font-family: $font-face;
  font-size: 18px;
  font-weight: bold;
 padding: 5px 0;
  margin: 0;
  text-align: center;


}
.ccalDescription {
  //width: 124px;
  border-radius: 10px;
  border: 1px solid #fa9c22;
  font-weight: bolder;
  font-family: $font-face;
  font-size: 14px;
  padding: 10px;
}

.additionalText {
  font-weight: bold;
  font-family: $font-face;
  font-size: 16px;
  color: #fa9c22;
  padding: 5px 0;
}
.icon {
  font-size: 20px;
  //color: #fa9c22;
  margin-left: 10px;
}