@import '../../../scss/resource/resource';


.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: url("/img/details/preloaderBack.jpg");
  background-size: cover;
  background-position: center;
}


.imgPan {
  position: absolute;
  top: 40%;
  left: 36%;
  width: 250px;
  height: 80px;
  animation: jumppan 2s infinite;

  @media(min-width:370px){
    width: 90px;
    height: 30px;
  }
  @media(min-width:576px){
    width: 145px;
    height: 45px;
  }
  @media(min-width:768px){
    width: 195px;
    height: 60px;
  }
  @media(min-width:992px){
    width: 250px;
    height: 80px;
  }
}

.a {
  overflow: hidden;
  z-index: 1;
}

.img {
  width: 48px;
  height: 60px;
  position: absolute;
  left: 43%;
  top: 30%;
  animation: jumpfood 2s infinite;
  animation-delay: 0.1s;
  opacity: 1;

  @media(min-width:370px){
    width: 48px;
    height: 60px;
  }
  @media(min-width:576px){
    width: 75px;
    height: 93px;
  }
  @media(min-width:768px){
    width: 100px;
    height: 123px;
  }
  @media(min-width:992px){
    width: 130px;
    height: 160px;
  }
}

@keyframes jumpfood {
  10% {
    transform: translateY(-30px);
  }
  30% {
    transform: translateY(-60px);

  }
  100% {
    transform: translateY(-80px)
  }

}


@keyframes jumppan {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
    animation-delay: 0.1s;
  }
  50% {
    transform: rotate(-10deg);
  }

}

.text {
  position: absolute;
  top: 50%;
  font-family: $font-face;
  color: #fa9c22;
  left: 45%;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}