@import '../../../scss/resource/resource';

.wrapper {
  margin: 0 auto;
  position: relative;
  padding: 0 0 20px 0;
  background-color: white;
  box-shadow: 0px 4px 21px 6px rgba(250, 156, 34, 0.55);
  border-radius: 10px;
  overflow: hidden;
}

.title {
  font-family: $font-face;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;

  @media(min-width:370px){
    font-size: 26px;
  }
  @media(min-width:576px){
    font-size: 32px;
  }
  @media(min-width:768px){
    font-size: 36px;
  }
  @media(min-width:992px){
    font-size: 40px;
  }

}
.text {
  font-family: $font-face;
  font-size: 13px;
  font-weight: bold;
  color: #494949;
  margin: 7px 0 21px 0;
  //margin-bottom: 0;
  text-align: right;

  @media(min-width:370px){
    font-size: 13px;
  }
  @media(min-width:576px){
    font-size: 14px;
  }
  @media(min-width:768px){
    font-size: 15px;
  }
  @media(min-width:992px){
    font-size: 16px;
  }
}

.margin{
  margin-bottom: 9px ;
}

.toast {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.buttonWrapper{
margin-top: 20px;
}