@import '../../scss/resource/resource';
.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
.text {
  padding-top: 6%;
  padding-left: 50px;
  width: 50%;

}
.link{
  width: 150px;
  padding: 40px 0 0 0;
}
.img{
  width: 50%;
}
@media(min-width:836px)and(max-width:1200px){
  .text{
    width: 40%;
  }

}
@media screen and (min-width:1200px) and (max-width:1600px){
  .text{
    width: 35%;
  }

}
@media(min-width:375px) and(max-width:810px){
  .img{
    //width: 50%;
    height: 70%;
  }

}
@media(min-width:375px) and(max-width:936px){
  .link{

    padding: 20px 0 ;

  }

}
@media(min-width:375px) and(max-width:647px){
  .img{
    display: none;
  }
  .text{
    width: 80%;
    text-align: center;
    padding: 0;
  }
  .link{
    margin: 0 auto;
  }
.container{
  background-image: url("/img/details/mobile_Back.jpg");
  background-repeat: no-repeat;
}
}