
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.container{
    //margin-right: 40px;
}
@media(min-width:992px) and (max-width: 1080px){
    .main-container{
        padding-top: 0px;
        width: 100%;
        margin: 0 auto;
    }
    .app-background{
        background-image: none;
        background-color: white;
    }
}