.wrapper{
  background-image: url("/img/details/calculatorWrapper.jpg");
  border-radius: 20px;
  background-repeat: no-repeat;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -12px 30px rgba(0, 0, 0, 0.1);

}