@import '../../../scss/resource/resource';
.wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
  height: 260px;
   background-color: white;
   margin: 0 auto;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   margin-bottom: 20px;
   box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -14px 49px rgba(0, 0, 0, 0.1);
   padding: 0;

  @media(min-width:370px){
    height: 260px;
    padding-top: 10px;
  }
  @media(min-width:576px){
    height: 250px;
  }
  @media(min-width:768px){
    height: 190px;
  }
  @media(min-width:992px){
    height: 190px;
  }
 }
.contentContainer{
  padding: 15px 0;
}
.img {
  width: 100%;
  height: 90px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;

  @media(min-width:370px){
    height: 90px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  @media(min-width:576px){
    height: 90px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  @media(min-width:768px){
    height: 190px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  @media(min-width:992px){
    height: 190px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}
.title {
  font-family: $font-face;
  font-size: 18px;
  border-bottom: 1px solid #fa9c22;
  text-align: center;
  font-weight: bold;

  @media(min-width:370px){
    font-size: 18px;
  }
  @media(min-width:576px){
    font-size: 20px;
  }
  @media(min-width:768px){
    font-size: 23px;
  }
  @media(min-width:992px){
    font-size: 25px;
  }
}
.name{
  text-transform: capitalize;
  font-family: $font-face;
  font-size: 20px;
  font-weight: bold;

  @media(min-width:370px){
    font-size: 17px;
  }
  @media(min-width:576px){
    font-size: 18px;
  }
  @media(min-width:768px){
    font-size: 19px;
  }
  @media(min-width:992px){
    font-size: 20px;
  }
}
.detail{
  font-family: $font-face;
  font-size: 12px;
  font-weight: bold;
}
.text{
  font-family: $font-face;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.priceImg{
  width: 29px;
  height: 29px;
}
.button{
  background-color: white;
}
.icon{
  margin: 10px;
  color: #494949;
  font-size: 20px;
}
.icon:hover{
  color: #fa9c22;
}
.info{
  font-family: $font-face;
  font-size: 14px;
  font-weight: bold;
  color: #FA9C23;
  text-align: center;

}