@import '../../../scss/resource/resource';

.card {
  position: relative;
  flex-wrap: wrap;
  width: 260px;
  height: 350px;
  padding: 0;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -14px 49px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
}

.img {
  width: 100%;
  height: 200px;
  padding: 0;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;

}

.title {
  font-family: $font-face;
  font-size: 18px;
  font-weight: bold;
}

.additionalText {
  font-family: $font-face;
  font-size: 12px;
  font-weight: bolder;
  font-style: italic;
  text-align: right;
  //padding: 20px 0;
  margin: -22px 10px 10px 0;
}

.header {
  position: relative;
}
//.text{
//  font-family: $font-face;
//  font-size: 12px;
//  font-weight: bolder;
//}
//.programs-card-text-description {
//  font-family: $font-face;
//  font-size: 12px;
//  font-weight: bolder;
//  font-style: italic;
//  text-align: right;
//}

.priceImg {
  width: 25px;
  height: 25px;
}

.daysWrapper {
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 80px;
  height: 40px;
  border-radius: 5px 5px 0 5px;
  background-color: rgba(213, 213, 213, 0.6);
  font-family: $font-face;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 9px;
}

.contentWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #fa9c22;
  border-top-left-radius: 20px;
  margin: 0;
}
.buttonBuy{
  margin: 12px;
}
.icon {
  color: white;
  font-size: 15px;
  margin: 19px;
}
//.programs-button-buy-card{
//  position: absolute;
//  left: 2px;
//  bottom: 34px;
//}
//.exist-item-show{
//  font-family: $font-face;
//  position: absolute;
//  font-size: 14px;
//  font-weight: bold;
//  top: -30px;
//  left:0;
//}
//.exist-item-hidden{
//  display: none;
//}
//a{
//  color: inherit;
//}
//a:hover{
//  color: inherit;
//}
//.button {
//  margin: 10px 0 10px 10px;
//}