@import '../../../../scss/resource/resource';
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
.img{
 border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 20px;

}
.card{
  background-color: white;
  box-shadow: 0px 0px 21px 6px rgba(250, 156, 34, 0.55);
  border-radius: 10px;
  margin: 10px 5px ;
  text-align: center;
  padding: 0;
  align-items: center;

  @media(min-width:370px){
    margin: 15px 10px ;
  }
  @media(min-width:576px){
    margin: 15px 10px ;
  }
  @media(min-width:768px){
    margin: 15px 5px ;
  }
  @media(min-width:992px){
    margin: 10px 5px ;
  }


}

.title{
  font-family: $font-face;
  font-size: 18px;
  font-weight: bold;
  color: #fa9c22;
}
.scheduleWrapper{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.text{
  font-family: $font-face;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
}
