@import '../../scss/resource/resource';

.container {
  text-align: center;
  padding: 10px 0 40px 0;
  background-image: url("/img/details/footer.jpg");
  //overflow: hidden;
}
.link:hover{
  text-decoration: none;
}
.nav{
  //width: 300px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}

.row {
  //width: 800px;
  margin: 0 auto;
  //display: flex;
  //align-items: center;
  //justify-content: space-around;
}

.item {
  font-family: $font-face;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 20px;
  padding: 0 5px;
  margin: 0 auto;
}

.icon {
  margin: 10px;
  color: #494949;
  font-size: 30px;
}

.icon:hover {
  color: #fa9c22;
}
.link a:hover{
  text-underline: none;
}
.text{
  font-family: $font-face;
  font-weight: bold;
  padding: 10px;
}
.logo{
  margin-bottom: 30px;
}
@media(min-width:375px) and (max-width: 803px){
  .container {
    padding: 0 0 10px 0;
  }
}
@media(min-width: 803px){
  .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .container {
    padding: 100px 0 10px 0;
  }
}