@import '../../../scss/resource/resource';
.wrapper{
    text-align: center;
    //padding: 50px 0;
    //margin: 50px 0;
}
.text{
    font-family: $font-face;
    color: #fa9c22;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.title{
    font-size: 26px;
    margin-bottom: 15px;
}
.additionalText{
    margin-top: 50px;
    color: black;
    //margin: 0 auto;
}
