@import '../../../../scss/resource/resource';

.text-title{
  font-family: $font-face;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1em;
}

@media(min-width:375px) and(max-width:647px){
  .text-title{
    font-size: 20px;
  }

}