@import '../../../../scss/resource/resource';

.wrapper {
  border: 1px solid #fa9c22;
  background-color: white;
  padding: 0;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.title {
  padding-top: 50px;
  color: black;
  font-family: $font-face;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;

}

.text {
  font-family: $font-face;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
  color: #484848;
  padding: 0 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
}

.input {
  outline: none;
  margin: 6px 0;
  border-radius: 35px;
}

.buttonWrapper {
  margin: 50px 0;
}