//.app-background{
//  background-image: url("/img/details/main_background.jpg");
//}
@media(min-width:1201px){
  .main-container{
    padding-top: 0px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .app-background{
    background-image: url("/img/details/main_background.jpg");
    background-position: top;
    //background-size: cover;
    //background-repeat: repeat-x;

  }
}

.main-container{
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

@media(min-width:992px) and (max-width: 1200px){
  .main-container{
    padding-top: 0px;
    width: 100%;
    margin: 0 auto;
  }
  .app-background{
    background-image: none;
    background-color: white;
  }
}


@media(min-width:375px) and (max-width: 991px){
  .main-container{
    padding-top: 0px;
    width: 100%;
    margin: 0 auto;
  }
  .app-background{
    background-image: none;
    background-color: white;
  }
}

.main-background{
  background-color: white;
}
.navbar-content-wrapper{
  background-image: url("/img/details/headerBack2.jpg") ;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;

}
a{
  text-decoration: none;
}