@import '../../../scss/resource/resource';
.wrapper{
  position: relative;
  margin-left: 55px;
}

.icon {
  position: absolute;
  color: #fa9c22;
  top: 5px;
  left: 160px;
  font-size: 18px;
}
.input{
  padding: 2px 10px ;
  //border-radius: 20px;
 background-color: white;
  border: 1px solid #494949;
  z-index: 500;
  text-align: center;
  //border: transparent;
  //box-shadow: 0 28px 23px rgba(0, 0, 0, 0.1), 0 35px 49px rgba(0, 0, 0, 0.1);
}
.input:focus{
  outline: none;

}
.dropdown{
  width: 196px;
  height: 200px;
  //border: 1px solid black;
  top:27px;
  //border-radius: 20px;
  position: absolute;
  box-shadow: 0 28px 23px rgba(0, 0, 0, 0.1), 0 35px 49px rgba(0, 0, 0, 0.1);
  //border-bottom: 1px solid #484848 ;
  //border-right: 1px solid #484848;
  //border-left: 1px solid #484848;
  //border: 1px solid black;
  padding-top: 10px;
  background-color: white;
  z-index: 1;
}
.dropdownItem{
  font-family: $font-face;
  font-size: 14px;
  color: #494949;
  font-weight: bolder;
  text-align: center;
  padding: 3px 0;
}
.dropdownItem:hover{
  color: #fa9c22;
}