@import '../../../scss/resource/resource';

.card {
  position: relative;
  width: 280px;
  height: 250px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 28px 50px rgba(0, 0, 0, 0.1), 0 -14px 49px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 80px;
  padding: 90px 0;
}
.icon {
  color: #fa9c22;
  font-size: 40px;
  margin-top: 40px;

}
.icon_wrapper{
  position: absolute;
  right: 80px;
  top: -60px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-image: url("/img/details/advantBack.png");
  background-size: cover;

}
.text{
  font-family: $font-face;
  font-size: 16px;
  color: #494949;
  font-weight: bolder;
  padding: 10px;
}

.title{
  font-family: $font-face;
  font-size: 20px;
  font-weight: bold;
  //margin-top: 80px;

}