@import '../../scss/resource/resource';
.container{
  text-align: center;
  background-image: url("/img/details/workBack.jpg");
  background-repeat: no-repeat;
  padding: 50px 0;
}

.text{
  text-align: center;
  font-family: $font-face;
  font-size: 18px;
  font-weight: bolder;
  color: #494949;
  line-height: 1.2em;
  margin-top: 20px;
  padding: 0 5px;
  width: 25%;
}
.img{

}
@media(min-width:375px) and (max-width: 1052px){
  .img{
    width: 100%;
  }
  .text{
    font-size: 14px;
  }
}